<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>805327199033-c6766dqjg2f6epfd78d9gmib823mu1em.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.805327199033-c6766dqjg2f6epfd78d9gmib823mu1em</string>
	<key>API_KEY</key>
	<string>AIzaSyDj2W5JjDrP-uL91-E4CHrj1PrdTbwgxnY</string>
	<key>GCM_SENDER_ID</key>
	<string>805327199033</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sleepybytes.FirebaseTests</string>
	<key>PROJECT_ID</key>
	<string>sleepybytes-951f5</string>
	<key>STORAGE_BUCKET</key>
	<string>sleepybytes-951f5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:805327199033:ios:392e8601d7397c03</string>
	<key>DATABASE_URL</key>
	<string>https://sleepybytes-951f5.firebaseio.com</string>
</dict>
</plist>